header {
  background: #512DA8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  height: 40px;
}

.header-wrapper h1 {
  margin: 0;
  line-height: 40px;
  letter-spacing: 1px;
}

.header-wrapper h1 > .symbol{
  background: rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 40px;
  padding: 0 8px;
  margin-right: 2px;
}

.toggle-buttons {
  display: flex;
  margin: 0;
}

.toggle-buttons > .btn{
  font-size: 14px;
  padding: 4px 20px;
  background: none;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.toggle-buttons > .btn:active{
  background: rgba(0,0,0,0.3);
}

@media only screen and (min-width : 992px) {
  .header-wrapper{
    height: 65px;
  }
  .header-wrapper h1, .header-wrapper h1 > .symbol{
    line-height: 65px;
  }
  .toggle-buttons{
    display: none;
  }
}